@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

body {
    scroll-behavior: smooth;  
}

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.menu {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 28px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.container-fluid img {
    position: relative;
    right: -37px;
    /* height: 40px; */
    width: 40px;
}

.container-fluid .navbar-brand {
    position: relative;
    right: -50px;
    top: 5px;
    font-weight: 500;
    font-family: 100px;
    font-family: "Nunito Sans", sans-serif;
}

.container-fluid p {
    margin-right: 550px;
}

.navbar-searchbar {
    display: flex;
    position: relative;
    left: -450px;
}

.navbar-searchbar i {
    position: absolute;
    left: 25px;
    top: 10px;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
}

.navbar-searchbar input {
    background: #f1f3f4;
    border: none;
    border-radius: 10px;
    height: 46px;
    padding-left: 55px;
    transition: 0.3s;
}

.navbar-searchbar input:focus {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0,0,67);
    outline: none;
    border: none;
}


.navbar-searchbar ::placeholder {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.navbar-icon {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 32px;
    justify-content: space-between;
}

.navbar-icon .bi{
 font-size: 20px;
}

hr.line{
    position: relative;
    top: -20px;
}


/* TABLE SECTION */

.one{
display: flex;
flex-direction: row;
gap: 30px;
top: -20px;
left: 25px;
position: relative;
}

.home-searchbar {
    display: flex;
    position: relative;
    /* left: -450px; */
}



.home-searchbar input {
    /* background: #f1f3f4; */
    border: 2px solid  #f1f3f4;
    box-shadow: 10px 10px 10px #fff;
    border-radius: 10px;
    height: 46px;
    padding-left: 55px;
    transition: 0.3s;
}

.home-searchbar input:focus {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0,0,67);
    outline: none;
    border: none;
}


.home-searchbar ::placeholder {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}