<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="./css/keep.css">
        <!-- BOOSTRAP -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <!-- BOOTSTRAP ICON -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <title>Keep App</title>
    </head>

    <body>
        <!-- As a heading -->
        <nav id="navBar" class="navbar fixed-top">
            <div class="container-fluid">

                <li class="menu" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </li>

                <span class="logo">
                    <img src="./img/keep_.png" alt="">
                    <span class="navbar-brand">DNotes</span>
                </span>

                <li class="navbar-searchbar">
                    <i class="bi bi-search"></i>
                    <input type="search" placeholder="Search" name="title"
                        style="width: 650px;">
                </li>
                <ul>
                    <div class="navbar-icon">
                        <% if(!currentUser) { %>
                            <a href="/login">login</a>
                            <a href="/register">register</a>
                            <% } else { %>
                                <a href="/logout">Logout</a>

                                <% } %>
                                </div>
                            </ul>
                        </div>
                    </nav>



                    <!-- START HERO SECTION -->
                    <section class="table" id="table">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-2 col-md-4 col-sm-4">
                                    <div class="homeboard">
                                        <div class="one active-work">
                                            <span>
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0
                                                    24
                                                    24">
                                                    <path
                                                        d="M9 21c0
                                                        .55.45 1
                                                        1
                                                        1h4c.55 0
                                                        1-.45
                                                        1-1v-1H9v1zm3-19C8.14
                                                        2 5
                                                        5.14
                                                        5 9c0 2.38 1.19
                                                        4.47
                                                        3
                                                        5.74V17c0
                                                        .55.45 1 1
                                                        1h6c.55 0
                                                        1-.45
                                                        1-1v-2.26c1.81-1.27
                                                        3-3.36
                                                        3-5.74
                                                        0-3.86-3.14-7-7-7zm2.85
                                                        11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997
                                                        4.997 0 0 1 7
                                                        9c0-2.76
                                                        2.24-5
                                                        5-5s5
                                                        2.24 5 5c0
                                                        1.63-.8
                                                        3.16-2.15
                                                        4.1z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <p>Notes</p>
                                        </div>

                                        <div class="one">
                                            <span>
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0
                                                    24
                                                    24">
                                                    <path
                                                        d="M18
                                                        17v-6c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5
                                                        1.5v.68C7.64
                                                        5.36 6
                                                        7.92
                                                        6
                                                        11v6H4v2h16v-2h-2zm-2
                                                        0H8v-6c0-2.48
                                                        1.51-4.5 4-4.5s4
                                                        2.02 4
                                                        4.5v6zm-4
                                                        5c1.1 0 2-.9
                                                        2-2h-4c0
                                                        1.1.9
                                                        2 2
                                                        2z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <p>Reminders</p>
                                        </div>

                                        <div class="one">
                                            <span>
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0
                                                    24
                                                    24">
                                                    <path
                                                        d="M17.63
                                                        5.84C17.27
                                                        5.33
                                                        16.67
                                                        5 16
                                                        5L5 5.01C3.9
                                                        5.01 3
                                                        5.9
                                                        3
                                                        7v10c0
                                                        1.1.9 1.99 2
                                                        1.99L16
                                                        19c.67
                                                        0
                                                        1.27-.33
                                                        1.63-.84L22
                                                        12l-4.37-6.16zM16
                                                        17H5V7h11l3.55
                                                        5L16 17z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <p>node</p>
                                        </div>

                                        <div class="one">
                                            <span>
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0
                                                    24
                                                    24">
                                                    <path
                                                        d="M20.41
                                                        4.94l-1.35-1.35c-.78-.78-2.05-.78-2.83
                                                        0L13.4 6.41 3
                                                        16.82V21h4.18l10.46-10.46
                                                        2.77-2.77c.79-.78.79-2.05
                                                        0-2.83zm-14
                                                        14.12L5
                                                        19v-1.36l9.82-9.82
                                                        1.41
                                                        1.41-9.82
                                                        9.83z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <p>Edit labels</p>
                                        </div>

                                        <div class="one">
                                            <span>
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0
                                                    24
                                                    24">
                                                    <path
                                                        d="M20.54
                                                        5.23l-1.39-1.68C18.88
                                                        3.21
                                                        18.47 3 18
                                                        3H6c-.47
                                                        0-.88.21-1.16.55L3.46
                                                        5.23C3.17
                                                        5.57
                                                        3 6.02 3
                                                        6.5V19c0
                                                        1.1.9
                                                        2 2
                                                        2h14c1.1
                                                        0 2-.9
                                                        2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24
                                                        5h11.52l.83
                                                        1H5.42l.82-1zM5
                                                        19V8h14v11H5zm11-5.5l-4
                                                        4-4-4
                                                        1.41-1.41L11
                                                        13.67V10h2v3.67l1.59-1.59L16
                                                        13.5z">
                                                    </path>
                                                </svg>
                                            </span>
                                            <p><a href="">Archieve</a></p>
                                        </div>

                                        <div class="one">
                                            <span>
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0
                                                    24
                                                    24">
                                                    <path
                                                        d="M15
                                                        4V3H9v1H4v2h1v13c0
                                                        1.1.9
                                                        2 2
                                                        2h10c1.1 0 2-.9
                                                        2-2V6h1V4h-5zm2
                                                        15H7V6h10v13z">
                                                    </path>
                                                    <path d="M9
                                                        8h2v9H9zm4
                                                        0h2v9h-2z"></path>
                                                </svg>
                                            </span>
                                            <p><a href="">Trash</a></p>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-lg-10 col-md-8
                                    col-sm-8">
                                    <div class="home-searchbar">
                                        <form>
                                            <input id="bar1"
                                                onclick="changeBar()"
                                                type="text"
                                                name="title"
                                                placeholder="Take a
                                                note"
                                                style="width:
                                                550px;">
                                        </form>
                                    </div>

                                    <div class="home-searchbar2">
                                        <div class="home-searchbar2box"
                                            id="bar2">
                                            <form action="/notes"
                                                method="POST">
                                                <div
                                                    class="home-subbox">
                                                    <textarea
                                                        name="title"
                                                        placeholder="title"
                                                        contenteditable="true"
                                                        aria-multiline="true"
                                                        rows="1"
                                                        class="auto_height"
                                                        oninput="auto_height(this)"
                                                        id=""
                                                        style="width:
                                                        550px;"></textarea><br>
                                                    <textarea
                                                        name="description"
                                                        contenteditable="true"
                                                        rows="1"
                                                        class="auto_height"
                                                        placeholder="take
                                                        a
                                                        note.."
                                                        aria-multiline="true"
                                                        oninput="auto_height(this)"
                                                        id=""
                                                        style="width:
                                                        550px;"></textarea><br>
                                                    <button
                                                        onclick="closedBar()"
                                                        type="submit"
                                                        value="Add">add</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                    <div class="home-group">
                                        <% note.forEach(function(note,
                                            index) {
                                            %>
                                            <div class="border col-4">
                                                <%= note.title %> <br>
                                                    <%= note.description
                                                        %>
                                                        <div
                                                            class="icon">
                                                            <i class="bi
                                                                bi-bell"></i>
                                                            <i class="bi
                                                                bi-person-plus-fill"></i>
                                                            <i class="bi
                                                                bi-palette"></i>
                                                            <i class="bi
                                                                bi-file-image-fill"></i>
                                                            <i class="bi
                                                                bi-file-arrow-down"></i>
                                                            <div
                                                                class="dropdown
                                                                ">
                                                                <a
                                                                    type="button"
                                                                    class=""
                                                                    data-bs-toggle="dropdown">
                                                                    <svg
                                                                        viewBox="0
                                                                        0
                                                                        24
                                                                        24"
                                                                        width="24"
                                                                        height="24"
                                                                        class="">
                                                                        <path
                                                                            fill="currentColor"
                                                                            d="M12
                                                                            7a2
                                                                            2
                                                                            0
                                                                            1
                                                                            0-.001-4.001A2
                                                                            2
                                                                            0
                                                                            0
                                                                            0
                                                                            12
                                                                            7zm0
                                                                            2a2
                                                                            2
                                                                            0
                                                                            1
                                                                            0-.001
                                                                            3.999A2
                                                                            2
                                                                            0
                                                                            0
                                                                            0
                                                                            12
                                                                            9zm0
                                                                            6a2
                                                                            2
                                                                            0
                                                                            1
                                                                            0-.001
                                                                            3.999A2
                                                                            2
                                                                            0
                                                                            0
                                                                            0
                                                                            12
                                                                            15z">
                                                                        </path>
                                                                    </svg>
                                                                </a>

                                                                <ul
                                                                    class="dropdown-menu">
                                                                    <li><a
                                                                            href="/notes/<%=
                                                                            note.title
                                                                            %>
                                                                            "
                                                                            type="button"
                                                                            class="dropdown-item"
                                                                            >delete</a></li>
                                                                    <li><a
                                                                            class="dropdown-item"
                                                                            href="#">Link
                                                                            3</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>

                                                    </div>

                                                </div>
                                            </div>



                                        </div>

                                    </section>



                                    <!-- BOOTSTRAP JS -->
                                    <script
                                        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                                        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                                        crossorigin="anonymous"></script>
                                    <!-- JQUERY CDN -->
                                    <script
                                        src="https://code.jquery.com/jquery-3.6.1.js"
                                        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
                                        crossorigin="anonymous"></script>
                                    <script src="./js/keep.js"></script>
                                </body>

                            </html>
